	<div id="content1" class="page-wrap page-id-88">
		<div class="container content-wrapper">
			<div class="row">
				<div id="primary" class="fp-content-area">
					<main id="main" class="site-main" role="main">
						<div class="entry-content">
							<div class="panel-grid clearfix">
								<div id="tg-ct-13" class="full-container clearfix" data-stretch-type="full">
									<h1 class="tg-titre7 text-center tg-item tg-animate tg-animate2" data-animate="fadeInUp">{{ .Params.titre_h1_section_1 }}</h1>
									<p class="tg-text-5 tg-text-5b text-center">{{ .Params.text_section_1a | safeHTML }}</p>
									<h2 class="tg-titre2 text-center tg-item tg-animate tg-animate2" id="tgPourquoiForms" data-animate="fadeInUp" data-cache="fadeOutDown">{{ .Params.titre_h2_section_1 }}</h2>
									<p class="tg-text-7 text-center">{{ .Params.text_section_1b | safeHTML }}</p>
									<p class="tg-text-3 text-center">{{ .Params.text_section_1c | safeHTML }}</p>
									<img src="{{ .Params.image_section_1a }}" alt="" class="img-responsive center-block tg-img-rond tg-item tg-animate" data-animate="fadeIn" data-cache="fadeOut">
									<p class="tg-text-7 text-center">{{ .Params.text_section_1d | safeHTML }}</p>
									<p class="tg-text-3 text-center">{{ .Params.text_section_1e | safeHTML }}</p>
									<img src="{{ .Params.image_section_1b }}" alt="" class="img-responsive center-block tg-img-rond tg-item tg-animate" data-animate="fadeIn" data-cache="fadeOut">
								</div>
							</div>
							
							<div class="panel-grid clearfix">
								<div id="tg-ct-14" class="full-container clearfix" data-stretch-type="full-stretched">
									<div class="tg-ct-14" style="background-image:url('{{ .Params.image_section_1c }}')">
										<img src="{{ .Params.image_section_1c }}" alt="" class="center-block img-responsive">
									</div>
								</div>
							</div>
							
							<div class="panel-grid clearfix">
								<div id="tg-ct-15" class="full-container clearfix" data-stretch-type="full">
									<div class="clearfix tg-item tg-animate">
										<h2 class="tg-titre2 text-center tg-item tg-animate tg-animate2" data-animate="fadeInUp" data-cache="fadeOutDown">{{ .Params.titre_h2_section_2a }}</h2>
										<div class="tg-forms-geeks col-sm-6 col-xs-offset-3">
											<div class="col-sm-10 col-xs-offset-1" id="tgFormsGeeks">
												<div class="col-sm-8 col-xs-offset-2 tg-item tg-animate tg-forms-geeks">
													<span class="tg-text-3"></span>
													<input type="hidden" value="{{ .Params.text_section_2a }}" class="tg-forms-geeks-ct">
												</div>
											</div>
										</div>
									</div>
									
									<div class="clearfix">
										<h2 class="tg-titre2 text-center tg-item tg-animate tg-animate2" id="tgMarche" data-animate="fadeInUp" data-cache="fadeOutDown">{{ .Params.titre_h2_section_2b }}</h2>
										<div class="clearfix collapse tgMarche">
											<div class="col-sm-4 tg-application2 text-left">
												<div class="col-sm-12">
													<i class="tg-icone"></i>
													<h4 class="tg-titre4">{{ .Params.titre_h4_section_2a | safeHTML }}</h4>
													<p class="tg-text-3 tg-text-3e">{{ .Params.text_section_2b | safeHTML }}</p>
												</div>
											</div>
											<div class="col-sm-4 tg-bdd text-left">
												<div class="col-sm-12">
													<i class="tg-icone"></i>
													<h4 class="tg-titre4">{{ .Params.titre_h4_section_2b | safeHTML }}</h4>
													<p class="tg-text-3 tg-text-3e">{{ .Params.text_section_2c | safeHTML }}</p>
												</div>
											</div>
											<div class="col-sm-4 tg-logiciel text-left">
												<div class="col-sm-12">
													<i class="tg-icone"></i>
													<h4 class="tg-titre4">{{ .Params.titre_h4_section_2c | safeHTML }}</h4>
													<p class="tg-text-3 tg-text-3e">{{ .Params.text_section_2d | safeHTML }}</p>
												</div>
											</div>
										</div>
									</div>
									
									<div class="clearfix">
										<h2 class="tg-titre2 text-center tg-item tg-animate tg-animate2" id="tgControl" data-animate="fadeInUp"  data-cache="fadeOutDown">{{ .Params.titre_h2_section_2c }}</h2>
										<img src="{{ .Params.image_section_2 }}" alt="" class="center-block animated infinite pulse">
										<div class="clearfix collapse tgControl">
											<div class="col-sm-4 tg-gps-photo">
												<div class="col-sm-12">
													<i class="tg-icone"></i>
													<h4 class="tg-titre4">{{ .Params.titre_h4_section_2d }}</h4>
													<p class="tg-text-3 tg-text-3e">{{ .Params.text_section_2e | safeHTML }}</p>
												</div>
											</div>
											<div class="col-sm-4 tg-codes">
												<div class="col-sm-12">
													<i class="tg-icone"></i>
													<h4 class="tg-titre4">{{ .Params.titre_h4_section_2e }}</h4>
													<p class="tg-text-3 tg-text-3e">{{ .Params.text_section_2f | safeHTML }}</p>
												</div>
											</div>
											<div class="col-sm-4 tg-signature">
												<div class="col-sm-12">
													<i class="tg-icone"></i>
													<h4 class="tg-titre4">{{ .Params.titre_h4_section_2f }}</h4>
													<p class="tg-text-3 tg-text-3e">{{ .Params.text_section_2g | safeHTML }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel-grid clearfix">
								<div id="tg-ct-16" class="full-container clearfix" data-stretch-type="full-stretched">
									<div class="tg-ct-16" style="background-image:url('{{ .Params.image_section_3 }}')">
										<img src="{{ .Params.image_section_3 }}" alt="" class="center-block img-responsive tg-item tg-animate" data-animate="fadeIn" data-cache="fadeOut">
									</div>
								</div>
							</div>
							
							<div class="panel-grid clearfix">
								<div id="tg-ct-17" class="full-container clearfix" data-stretch-type="full">
									<h2 class="tg-titre2 text-center tg-item tg-animate tg-animate2" id="tgAvantages" data-animate="fadeInUp" data-cache="fadeOutDown">{{ .Params.titre_h2_section_3a }}</h2>
									<div class="clearfix tg-productivite2">
										<div class="col-sm-5">
											<div class="col-sm-11">
												<h4 class="tg-titre6">{{ .Params.titre_h4_section_3a }}</h4>
												<p>{{ .Params.text_section_3a | safeHTML }}</p>
											</div>
										</div>
										<div class="col-sm-7">
											<div class="col-sm-12">
												<img src="{{ .Params.image_section_3b }}" class="img-responsive center-block tg-item tg-animate" data-animate="fadeIn" data-cache="fadeOut" alt="" >
											</div>
										</div>
									</div>
									<div class="clearfix tg-rentabilite">
										<div class="col-sm-5">
											<div class="col-sm-11">
												<img src="{{ .Params.image_section_3c }}" class="img-responsive center-block tg-item tg-animate" data-animate="fadeIn" data-cache="fadeOut" alt="" >
											</div>
										</div>
										<div class="col-sm-7">
											<div class="col-sm-10">
												<h4 class="tg-titre6">{{ .Params.titre_h4_section_3b }}</h4>
												<p>{{ .Params.text_section_3b | safeHTML }}</p>
											</div>
										</div>
									</div>
									<div class="clearfix tg-satisfaction-client">
										<div class="col-sm-5">
											<div class="col-sm-11">
												<h4 class="tg-titre6">{{ .Params.titre_h4_section_3c }}</h4>
												<p>{{ .Params.text_section_3c | safeHTML }}</p>
											</div>
										</div>
										<div class="col-sm-7">
											<div class="col-sm-12">
												<img src="{{ .Params.image_section_3d }}" class="img-responsive center-block tg-item tg-animate" data-animate="fadeIn" data-cache="fadeOut" alt="" >
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel-grid clearfix">
								<div id="tg-ct-18" class="full-container clearfix" data-stretch-type="full">
									<h2 class="tg-titre2 text-center tg-item tg-animate tg-animate2" data-animate="fadeInUp" data-cache="fadeOutDown">{{ .Params.titre_h2_section_4 }}</h2>
									<div class="tg-abonnement-tbl1">
										<table class="table" style="width: 100%;">
											<tbody>
												<tr>
													<th style="text-align: center;" colspan="2">{{ .Params.table1_section_4_titre | safeHTML }}</th>
												</tr>
												{{ range .Params.table1.ligne }}
													<tr>
														<td style="text-align: left;">{{ .gauche }}</td>
														<td style="text-align: left;">{{ .droite }}</td>
													</tr>
												{{ end }}
											</tbody>
										</table>
									</div>
									<div class="tg-abonnement-tbl2">
										<table class="table text-center" style="margin: auto; width: 50%;">
											<tbody>
												<tr style="height: 24px;">
													<th style="height: 24px;">{{ .Params.table2_section_4_titre | safeHTML }}</th>
												</tr>
												{{ range .Params.table2.ligne }}
													<tr style="height: 24px;">
														<td style="height: 24px; text-align: center;">{{ .item}}</td>
													</tr>
												{{ end }}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</main>
				</div>
			</div>
		</div>
	</div>