<!DOCTYPE html>
<html lang="{{ .Site.Language }}" class="page2">
    <head>
        {{ partial "head.html" . }}
    </head>
	{{ partial "google-analytics.html" . }}

    <body class="page2 index1">
		<div class="imagefond"><div id="imagefond"></div></div>
		<div class="hfeed site" id="page">
			{{ partial "header.html" . }}
			{{ $template := delimit (slice "pages/" (string .Params.slug) ".html") "" }}
			{{ partial (string $template) . }}
		</div>
		
        {{ partial "javascript.html" . }}
    </body>
</html>